<H1> Segmentation and Clustering of neighborhoods in Toronto</H1>
<h6> a capstone project <h6>

The data was copied from wikipaedia as a CSV and imported automatically using the Jupyter notebook generated code (below cell)

In [1]:
# The code was removed by Watson Studio for sharing.

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

Getting the number of rows and columns in the dataset  :

In [2]:
df_data_1.shape

(180, 3)

Getting number of 'Not assigned' rows

In [3]:
df_data_1['Borough'].value_counts()

Not assigned        77
North York          24
Downtown Toronto    19
Scarborough         17
Etobicoke           12
Central Toronto      9
West Toronto         6
East Toronto         5
East York            5
York                 5
Mississauga          1
Name: Borough, dtype: int64

In [4]:
df_data_1['Neighborhood'].value_counts()

Not assigned                                                                                                     77
Downsview                                                                                                         4
Don Mills                                                                                                         2
Business reply mail Processing Centre, South Central Letter Processing Plant Toronto                              1
Runnymede, Swansea                                                                                                1
                                                                                                                 ..
Kingsview Village, St. Phillips, Martin Grove Gardens, Richview Gardens                                           1
Moore Park, Summerhill East                                                                                       1
Eringate, Bloordale Gardens, Old Burnhamthorpe, Markland Wood                                                     1
Parkwoods                                                                                                         1
South Steeles, Silverstone, Humbergate, Jamestown, Mount Olive, Beaumond Heights, Thistletown, Albion Gardens     1
Name: Neighborhood, Length: 100, dtype: int64

In [5]:
main_df = df_data_1
main_df['Neighborhood'].value_counts()

Not assigned                                                                                                     77
Downsview                                                                                                         4
Don Mills                                                                                                         2
Business reply mail Processing Centre, South Central Letter Processing Plant Toronto                              1
Runnymede, Swansea                                                                                                1
                                                                                                                 ..
Kingsview Village, St. Phillips, Martin Grove Gardens, Richview Gardens                                           1
Moore Park, Summerhill East                                                                                       1
Eringate, Bloordale Gardens, Old Burnhamthorpe, Markland Wood                                                     1
Parkwoods                                                                                                         1
South Steeles, Silverstone, Humbergate, Jamestown, Mount Olive, Beaumond Heights, Thistletown, Albion Gardens     1
Name: Neighborhood, Length: 100, dtype: int64

'Not assigned' values are removed

In [6]:
import numpy as np
#main_df = main_df.drop('Not assigned', np.NaN, inplace = True)
main_df.drop(main_df.index[main_df['Neighborhood'] == 'Not assigned'], inplace = True, axis = 0)
main_df['Neighborhood'].value_counts()

Downsview                                                                                                        4
Don Mills                                                                                                        2
Cedarbrae                                                                                                        1
Northwest, West Humber - Clairville                                                                              1
University of Toronto, Harbord                                                                                   1
                                                                                                                ..
Parkview Hill, Woodbine Gardens                                                                                  1
Forest Hill North & West, Forest Hill Road Park                                                                  1
Business reply mail Processing Centre, South Central Letter Processing Plant Toronto                             1
New Toronto, Mimico South, Humber Bay Shores                                                                     1
South Steeles, Silverstone, Humbergate, Jamestown, Mount Olive, Beaumond Heights, Thistletown, Albion Gardens    1
Name: Neighborhood, Length: 99, dtype: int64

In [7]:
main_df['Borough'].value_counts()

North York          24
Downtown Toronto    19
Scarborough         17
Etobicoke           12
Central Toronto      9
West Toronto         6
East Toronto         5
York                 5
East York            5
Mississauga          1
Name: Borough, dtype: int64

In [8]:
main_df

,Postal Code,Borough,Neighborhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
5,M6A,North York,"Lawrence Manor, Lawrence Heights"
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
160,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
169,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [9]:
main_df.reset_index(inplace = True)

Index is reset in the above cell:

In [10]:
main_df.head(25)

,index,Postal Code,Borough,Neighborhood
0,2,M3A,North York,Parkwoods
1,3,M4A,North York,Victoria Village
2,4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,5,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
5,8,M9A,Etobicoke,"Islington Avenue, Humber Valley Village"
6,9,M1B,Scarborough,"Malvern, Rouge"
7,11,M3B,North York,Don Mills
8,12,M4B,East York,"Parkview Hill, Woodbine Gardens"
9,13,M5B,Downtown Toronto,"Garden District, Ryerson"
10,14,M6B,North York,Glencairn
11,17,M9B,Etobicoke,"West Deane Park, Princess Gardens, Martin Grov..."
12,18,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
13,20,M3C,North York,Don Mills
14,21,M4C,East York,Woodbine Heights
15,22,M5C,Downtown Toronto,St. James Town
16,23,M6C,York,Humewood-Cedarvale
17,26,M9C,Etobicoke,"Eringate, Bloordale Gardens, Old Burnhamthorpe..."
18,27,M1E,Scarborough,"Guildwood, Morningside, West Hill"
19,30,M4E,East Toronto,The Beaches
20,31,M5E,Downtown Toronto,Berczy Park
21,32,M6E,York,Caledonia-Fairbanks
22,36,M1G,Scarborough,Woburn
23,39,M4G,East York,Leaside
24,40,M5G,Downtown Toronto,Central Bay Street

In [11]:
count_s = main_df['Postal Code'].value_counts()
count_s

M9A    1
M1M    1
M1H    1
M2M    1
M6L    1
      ..
M9V    1
M4T    1
M4G    1
M1X    1
M3H    1
Name: Postal Code, Length: 103, dtype: int64

In [12]:
f = pd.DataFrame({'PC':count_s.index, 'count':count_s.values})
f

      PC  count
0    M9A      1
1    M1M      1
2    M1H      1
3    M2M      1
4    M6L      1
..   ...    ...
98   M9V      1
99   M4T      1
100  M4G      1
101  M1X      1
102  M3H      1

[103 rows x 2 columns]

In [13]:
f.dtypes

PC       object
count     int64
dtype: object

In [14]:
f.drop(f.index[f['count'] == 1], inplace = True, axis = 0)
f

Empty DataFrame
Columns: [PC, count]
Index: []

HEnce we can see that no postal code is repeated twice from the above output

using .SHAPE method

In [15]:
main_df.shape

(103, 4)

In [16]:

body = client_29dd3f2ec22b497080dfc330d435b968.get_object(Bucket='capstoneproject-donotdelete-pr-fhypdazzhcgzk6',Key='Geospatial_Coordinates.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_2 = pd.read_csv(body)
df_data_2.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [17]:
main_df2 = df_data_2

Changing the index of dataframes to Postal Code

In [31]:
main_df3 = main_df
main_df3.drop(['index'] , inplace = True, axis = 1) 
main_df3

,Borough,Neighborhood
Postal Code,,
M3A,North York,Parkwoods
M4A,North York,Victoria Village
M5A,Downtown Toronto,"Regent Park, Harbourfront"
M6A,North York,"Lawrence Manor, Lawrence Heights"
M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...
M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
M4Y,Downtown Toronto,Church and Wellesley
M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [48]:
main_df2.set_index(['Postal Code'],drop = True,inplace = True)
main_df2

              Latitude  Longitude
Postal Code
M1B          43.806686 -79.194353
M1C          43.784535 -79.160497
M1E          43.763573 -79.188711
M1G          43.770992 -79.216917
M1H          43.773136 -79.239476
...                ...        ...
M9N          43.706876 -79.518188
M9P          43.696319 -79.532242
M9R          43.688905 -79.554724
M9V          43.739416 -79.588437
M9W          43.706748 -79.594054

[103 rows x 2 columns]

Filling in the latittudes and longitudes:

In [62]:
#main_df3.loc[M3A]['Borough']

main_df3['Latitude'] = '                     '
main_df3['Longitude'] = '                    '

for i in main_df3.index.values:
    #ind = "''" + i + "''"
    main_df3.loc[i]['Latitude'] = main_df2.loc[i]['Latitude']
    main_df3.loc[i]['Longitude'] = round(main_df2.loc[i]['Longitude'],6)
    
main_df3

,Borough,Neighborhood,Latitude,Longitude
Postal Code,,,,
M3A,North York,Parkwoods,43.7533,-79.3297
M4A,North York,Victoria Village,43.7259,-79.3156
M5A,Downtown Toronto,"Regent Park, Harbourfront",43.6543,-79.3606
M6A,North York,"Lawrence Manor, Lawrence Heights",43.7185,-79.4648
M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.6623,-79.3895
...,...,...,...,...
M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North",43.6537,-79.5069
M4Y,Downtown Toronto,Church and Wellesley,43.6659,-79.3832
M7Y,East Toronto,"Business reply mail Processing Centre, South C...",43.6627,-79.3216
M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu...",43.6363,-79.4985
M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,...",43.6288,-79.521

In [64]:
main_df3.reset_index(inplace = True)

In [65]:
main_df3

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.7533,-79.3297
1,M4A,North York,Victoria Village,43.7259,-79.3156
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.6543,-79.3606
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.7185,-79.4648
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.6623,-79.3895
...,...,...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North",43.6537,-79.5069
99,M4Y,Downtown Toronto,Church and Wellesley,43.6659,-79.3832
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C...",43.6627,-79.3216
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu...",43.6363,-79.4985
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,...",43.6288,-79.521

The  required dataframe has been obtained